.container {
  background-color: #f0ebd8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin: 0;
  /* padding: 1rem; */
}

.card {
  background-color: #0d1321;
  color: #f0ebd8;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Left, .Right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: center;
}
.heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2px;
  color: #748cab;
  display: inline-block;
  overflow: hidden;
  /* padding-left: 5px; */
}

.nameReveal {
  display: inline-block;
}

.nameReveal span {
  display: inline-block;
  opacity: 0;
  animation: letterReveal 0.001s forwards;
  animation-delay: calc(0.1s * var(--index));
}

@keyframes letterReveal {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.description {
  font-size: 1.2rem;
  /* line-height: 1.8; */
  margin: 0;
  text-align: left;
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: center;
  align-items: start;
}

.highlight {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  /* background: linear-gradient(90deg, #3e5c76, #748cab,#F0EBD8); */
    background-image: url('/src/assets/colors.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    color: white; 
    display: inline-block;  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 5px 0 0 0;
  /* animation: gradientMove 3s ease-in-out infinite; */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .highlight::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #F0EBD8;
  transition: width 0.3s ease;
}

.highlight:hover {
  transform: scale(1.0001);
}

.highlight:hover::after {
  width: 100%;
} */

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #3e5c76;
  margin-top: 15%;
  margin-left: 25%;
  z-index: 5;
}

.circles {
  position: relative;
  width: 100%;
  height: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #3e5c76;
  opacity: 0.6;
}

.circle:nth-child(1) {
  width: 150px;
  height: 150px;
  top: -70px;
  left: 70px;
}

.circle:nth-child(2) {
  width: 120px;
  height: 120px;
  top: -10px;
  left: 180px;
  background-color: #748cab;
}

.circle:nth-child(3) {
  width: 100px;
  height: 100px;
  top: -25px;
  left: 420px;
  background-color: #1d2d44;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .heading {
    font-size: 2.5rem;
  }
  .highlight {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1rem;
  }
  .avatar {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .container{
    height: fit-content;
    background-color: #0d1321;
  }
  .card {
    /* flex-direction: column; */
    height: auto;
    padding: 1.5rem;
  }
  .Left, .Right {
    width: 100%;
    align-items: start;
  }
  .heading {
    font-size: 1.8rem;
  }
  .highlight {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1rem;
  }
  .avatar {
    width: 180px;
    height: 180px;
    margin-top: 5%;
  margin-left: 30%;
  }
  .circle:nth-child(1){
    /* display: none; */
    top: -55px;
  left: 110px;
  } 
  .circle:nth-child(2){
    /* display: none; */
    width: 100px;
  height: 100px;
    top: -15px;
  left: 195px;
  } 
  .circle:nth-child(3) {
    /* display: none; */
    width: 80px;
    height: 80px;
    top: -8 5px;
  left: 290px;
  }
}

@media (max-width: 480px) {
  .card{
    flex-direction: column;
  }
  .heading {
    font-size: 1.5rem;
    /* margin-top: 0; */
  }
  .highlight {
    font-size: 1.45rem;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    text-align: left;
  }
  .description {
    font-size: 0.9rem;
    margin: 0;
  }
  .avatar {
    width: 200px;
    height: 200px;
    /* margin-left: 15px; */
  }
  .circle:nth-child(1){
    display: none;
  } 
  .circle:nth-child(2){
    /* display: none; */
    width: 100px;
  height: 100px;
    top: -35px;
  left: 45px;
  } 
  .circle:nth-child(3) {
    /* display: none; */
    width: 80px;
    height: 80px;
    top: -5px;
  left: 100px;
  }
}
